@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.cf-top-menu-expended {
    @apply absolute top-10 z-50 w-full text-center bg-white animate-slideDown p-2;
}

/* cf = coffee */
.cf-top-menu-item {
    @apply cursor-pointer hover:text-gray-900 relative after:lg:absolute after:lg:-bottom-0.5 after:lg:left-0 after:lg:h-0.5 after:lg:bg-coffee-200 after:lg:w-0 hover:after:lg:w-full after:lg:transition-all after:lg:ease-in-out after:lg:duration-300;
}

.cf-top-menu-item-active {
    @apply text-gray-900 relative after:lg:absolute after:lg:-bottom-0.5 after:lg:left-0 after:lg:h-0.5 after:lg:bg-coffee-200 after:lg:w-full;
}

.cf-icon {
    @apply w-4 h-4 inline-block;
}

.cf-badge-circle {
    @apply text-xs text-center rounded-full px-1.5;
}

.cf-subheadline {
    @apply flex justify-center items-center mb-24;
}

.cf-subheadline-deco-line {
    @apply w-8 h-px bg-gray-300;
}

.cf-subheadline-label {
    @apply mx-3 text-[13px] text-gray-500 tracking-widest uppercase font-bold;
}

.cf-button {
    @apply uppercase py-4 px-6 tracking-wider text-xs text-center font-bold cursor-pointer hover:bg-opacity-90;
}

.cf-bottom-menu-item {
    @apply hover:text-coffee-400 cursor-pointer duration-300;
}


#root {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
    /* ... */
}

.cf-parallax,
.cf-no-parallax {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
}
.cf-parallax{
    height: 50vh;
}
.cf-no-parallax {
    height: auto;
    z-index: 999;
    background-color: #f3f4f6;
}

.cf-parallax-image {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* ... */
}

@media (min-width: 1280px) {
    .cf-parallax {
        height: 70vh;
        /* ... */
        transform-style: preserve-3d;
    }

    .cf-parallax-image {
        transform: translateZ(-1px) scale(1.5);
    }
}